.body {
    background-color: rgb(176, 176, 176);
}

.layout {
    display: grid;
    grid-template-columns: 120px 3fr 1fr;
    grid-template-rows: 850px;
}

.dash {
    background-color: rgb(36, 65, 65);
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.menubox {
    display: grid;
    gap: 10px;
}

.menu {
    font-size: 20px;
    font-weight: 500;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;  
    justify-content: center;
    align-items: center; 
}

.main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-style: solid;
}

.header {
    border-style: solid;
}

.content {
    border-style: solid;
}

.title {

}